/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p125@swm-infographics/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
html, body {
  max-width: 100%;
  margin: 0;
}

/* line 3, ../sass/_storyboard.scss */
#infographic {
  width: 83.333%;
  margin: auto;
}

/* line 14, ../sass/_canvas.scss */
img {
  width: 48%;
  border: 1px solid black;
  display: inline;
  float: left;
}

/* line 10, ../sass/_typo.scss */
section {
  font-family: "Antique Olive", sans-serif;
}

/* line 15, ../sass/_typo.scss */
h1 {
  font-size: 2em;
}
/* line 19, ../sass/_typo.scss */
.scene_1 h1 {
  color: yellow;
}
/* line 19, ../sass/_typo.scss */
.scene_2 h1 {
  color: yellow;
}
/* line 19, ../sass/_typo.scss */
.scene_3 h1 {
  color: yellow;
}
/* line 19, ../sass/_typo.scss */
.scene_4 h1 {
  color: yellow;
}

/* line 25, ../sass/_typo.scss */
h2 {
  font-size: 1.75em;
}
/* line 29, ../sass/_typo.scss */
.scene_1 h2 {
  color: yellow;
}
/* line 29, ../sass/_typo.scss */
.scene_2 h2 {
  color: yellow;
}
/* line 29, ../sass/_typo.scss */
.scene_3 h2 {
  color: yellow;
}
/* line 29, ../sass/_typo.scss */
.scene_4 h2 {
  color: yellow;
}

/* line 35, ../sass/_typo.scss */
p {
  font-size: 1em;
}
/* line 39, ../sass/_typo.scss */
.scene_1 p {
  color: gray;
}
/* line 39, ../sass/_typo.scss */
.scene_2 p {
  color: gray;
}
/* line 39, ../sass/_typo.scss */
.scene_3 p {
  color: gray;
}
/* line 39, ../sass/_typo.scss */
.scene_4 p {
  color: gray;
}

/* line 45, ../sass/_typo.scss */
em {
  font-size: 1.1em;
}
/* line 49, ../sass/_typo.scss */
.scene_1 em {
  color: gray;
}
/* line 49, ../sass/_typo.scss */
.scene_2 em {
  color: gray;
}
/* line 49, ../sass/_typo.scss */
.scene_3 em {
  color: gray;
}
/* line 49, ../sass/_typo.scss */
.scene_4 em {
  color: gray;
}
