// font stack
$main: 'Antique Olive', sans-serif;
$emph: serif;

// scale 1.00 1.25 1.50 1.75 2.00
$base: 1em;

// common

section {
  font-family:$main;
}


h1 {
  font-size:2em;

  @for $i from 1 through 4 {
    .scene_#{$i} & {
      color:yellow;
    }
  }
}

h2 {
  font-size:1.75em;

  @for $i from  1 through 4 {
    .scene_#{$i} & {
      color:yellow;
    }
  }
}

p {
  font-size:1em;

  @for $i from  1 through 4 {
    .scene_#{$i} & {
      color:gray;
    }
  }
}

em {
  font-size:1.1em;

  @for $i from  1 through 4 {
    .scene_#{$i} & {
      color:gray;
    }
  }
}
